
<p>
  <strong>Коментатор:</strong>
  <%= comment.user.name %>
</p>
 
<p>
  <strong>Коментарий:</strong>
  <%= comment.body %>
</p>

<% if current_user.id == comment.user.id%>
  <p>
    <%= link_to 'Удалить коментарий', [comment.post, comment],
                                  method: :delete,
                                  data: { turbo_method: :delete,confirm: 'Ты точно этого хочешь?' } %>
  <p>
<%else%>
  <tr>
<%end%>