
<p>
  <strong>Коментатор:</strong>
  <%= comment.user.name %>
</p>
 
<p>
  <strong>Коментарий:</strong>
  <%= comment.body %>
</p>


<%# <p>
  <%= link_to 'Destoy Comment', [comment.post, comment],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
<p> %>