
<div class = "post">
  <div class = "post-head">
    <h6 class = "text-md-start" >Коментатор: <%= comment.user.name %>
      <% if current_user.id == comment.user.id%>
        <%= link_to 'Удалить коментарий', [comment.post, comment], class: "btn btn-primary btn-sm",
                                          method: :delete,
                                          data: { turbo_method: :delete,confirm: 'Ты точно этого хочешь?' } %>
      <%end%>
    </h6>
    <small class ="post-text p-4"><%= comment.body %></small>
  </div>
</div>