<h1>Пользователи</h1>
 

<table class="table table-success table-striped">
  <tr>
    <th class="col">Имя</th>
    <th class="col">Email</th>
    <th class="col">Постов</th>
  </tr>
 
  <% @user.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%=user.posts.length %></td>
    </tr>
  <% end %>
</table>